
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #1e51a4, #c2e9fb);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.app-container {

  padding: 70px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 445px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}


.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


h2, h3 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}


.form-label {
  font-weight: 500;
  color: white;
  font-size: 14px;
}


.form-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  transition: 0.3s;
  margin-bottom: 15px;
}

.form-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}


.form-section {

margin-top: 2%;
  border-radius: 8px;
}

.submit-button {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  width: 300PX;
  margin: auto;
}

.submit-button:hover {
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  transform: scale(1.05);
}


@media (max-width: 450px) {
  .app-container {
    width: 90%;
    padding: 20px;
  }
}
